{{#each this}}
<div class="trending__wrapper">
    <div class="trending__overlay">
        <p class="trending__overview">{{this.overview}}</p>
    </div>
    <h3 class="trending__title">{{this.title}}</h3>
    <img src="{{this.backdrop_path}}" alt="{{this.title}}" class="trending__image" data-id="{{this.id}}"
        data-id="{{this.title}}">
    <span class="trending__release-date">{{this.release_date}}</span>
    <span class="trending__average">{{this.vote_average}}</span>
</div>
{{/each}}